.header {
  padding: 1rem 0;
}
.header__inner {
  display: flex;
  flex-direction: column;
}

.header__up  {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  font-size: 1.2rem;
}


.wiki_search {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  min-width: 16rem;
}

.header__down {
  display: flex;
  margin-top: 2rem;
  justify-content: left;
}

.wiki__options {
  display: flex;
  flex-direction: column;
}

.wiki__options__item {
  display: flex;
  margin-bottom: 0.6rem;
  div:first-child {
    margin-right: 1rem;
  }
}

.input-grout-pagesize {
  max-width: 12rem;
  margin-right: 2rem;
}
