.content {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.wiki_search {
  font-size: 1.2rem;
  display: flex;
  align-items: center;

  input {
    min-width: 16rem;
    margin-right: 0.8rem;
  };
}

.wiki_table {
  margin-top: 1rem;
  thead {
    text-align: center;
  }
}

.wiki_table__timestamp {
  white-space: nowrap;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.pagination__page {
  display: flex;
  margin: 0 2.4rem;
}

.left_pagination,
.right_pagination {
  padding: 0.5rem 1rem;
  position: relative;
  border: 1px solid black;
}

.left_pagination {
  padding-left: 1.8rem;
}

.right_pagination, {
  padding-right: 1.8rem;
}

.right_pagination:hover,
.left_pagination:hover {
  cursor: pointer;
}

.wiki__options {
  margin-bottom: 1rem;
}

.wiki__options__item {
  display: flex;

  div:first-child {
    margin-right: 1rem;
  }
}
